$device-mobileM: 375px;
$device-mobileL: 425px;
$device-mobileXL: 475px;

$device-tabletS: 600px;
$device-tabletM: 768px;

$device-laptop: 1024px;
$device-laptopM: 1200px;

$device-desktopL: 1336px;
$device-desktop: 1920px;